a {
  background-color: inherit;
  color: inherit;
}

body {

  /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  background-color: #FFF;
	margin-top: 0%;
	margin-bottom: 0%;
}


h3 {
	text-align: center;
	font-size: 4em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  font-family: 'Playfair Display', serif;
}

label {
	font-size: 1.5em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

h4 {
	text-align: center;
	font-size: 1.5em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  font-family: 'Fauna One', serif;
}

@keyframes slideInFromTop {
  0% {
  transform: translateY(-1000%);
    }

  100% {
    transform: translateY(0%);
  }

}

@keyframes slideInFromBottom {
  0% {
  transform: translateY(1000%);
    }

  100% {
    transform: translateY(0%);
  }

}

.projects {
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
}
.person {
  animation: 1s ease-out 0s 1 slideInFromTop;

}

.line-separator{
  height:1px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom:1px solid rgba(0, 0, 0, 0.4);

}

.card-title{
  font-family: 'Playfair Display', serif;

}

.card-reveal {
    font-family: 'Fauna One', serif;
    color: #000;
}

.card {
  background-color: #FFF;
}

h3,  a, .card-title {
  color: #000;
}

h4 {
    color: #000;
}

@media (mn-width:320px)  {
  #rectangle{
    opacity: 0%;

  }
}
